<div class="container">
    <div class="mt-3">
        <button  class="btn btn-primary"  (click)="back()" style="position:absolute;top:110px;">Back</button>
      </div>
    <h3 class="text-center mt-3">Education Details</h3>
    <div style="margin-left:90%">
        <button class="btn btn-primary" (click)="addEducation()" [disabled]="education.invalid">Add</button>
    </div>
    <form [formGroup]="education" (ngSubmit)="submit()">
         <div class="row">
            <div class="col">
                <div class="form-group mt-3">
                        <label>School</label>
                        <input type="text" class="form-control mt-2" placeholder="Enter your School" formControlName="school">
                        <div *ngIf="school && school.touched &&school.invalid " class="text-danger">The School field is missing</div>
                </div>
            </div>
            <div class="col">
                <div class="form-group mt-3">
                    <label>Degree</label>
                    <input type="text" class="form-control mt-2" placeholder="Enter your Degree" formControlName="degree">
                    <div *ngIf="degree && degree.touched &&degree.invalid " class="text-danger">The Degree field is missing</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group mt-3">
                        <label>City</label>
                        <input type="text" class="form-control mt-2" placeholder="Enter the city" formControlName="city">
                        <div *ngIf="city && city.touched &&city.invalid " class="text-danger">The City field is missing</div>
                </div>
            </div>
            <div class="col">
                <div class="form-group mt-3">
                    <label>State</label>
                    <input type="text" class="form-control mt-2" placeholder="Enter the State" formControlName="state">
                    <div *ngIf="state && state.touched &&state.invalid " class="text-danger">The State field is missing</div>
                </div>
            </div>
        </div>
        <div class="row">
         <div class="col">
            <div class="form-group mt-3">
                <label>Start Date</label>
                <input type="date" class="form-control mt-2" formControlName="startDate">
                <div *ngIf="startDate && startDate.touched &&startDate.invalid " class="text-danger">The Start Date field is missing</div>
            </div>
        </div>
        <div class="col">
            <div class="form-group mt-3">
                <label>End Date</label>
                 <input type="date" class="form-control mt-2"  formControlName="endDate">
                 <div *ngIf="endDate && endDate.touched &&endDate.invalid " class="text-danger">The End Date field is missing</div>
             </div>
        </div>
        </div>
             <div class="form-group mt-3">
                <label>Description</label>
                <textarea type="text" class="form-control mt-2" placeholder="e.g.Graduated with honors" formControlName="description"></textarea>
                <div *ngIf="description && description.touched &&description.invalid " class="text-danger">The Description field is missing</div>
            </div>
            
            <div class="text-center">
                <button  class="btn btn-success"  (click)="navigate()" style="margin-right:5%;margin-top:1.3%">Skip</button>
              <input type="submit" value="Next" class="mt-3 btn btn-success rounded " [disabled]="educationArray.length === 0 && education.invalid">
            </div>
    </form>
    </div>
    <div class="container d-flex">
     <ng-container *ngFor="let card of educationArray; let i = index">
        <div class="card" style="width: 18rem;" class="m-2">
            <div class="card-body">
              <h5 class="card-title">{{card.school}}</h5>
              <p class="card-text">{{card.description}}</p>
              <button  class="btn btn-primary m-2" (click)="removeCard(i)">Remove</button>
              <button class="btn btn-primary m-2" (click)="editCard(i)">Edit</button>
            </div>
          </div>
    </ng-container>
    </div>