<div class="d-flex justify-content-center align-items-center vh-100" >
    <div class="shadow p-4 rounded">
      <h3 class="text-center">Registration</h3>
      <form [formGroup]="registerationForm" (ngSubmit)="register()" style="max-width: 400px;">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name">
          <div *ngIf="name && name.touched &&name.invalid " class="text-danger">The name field is missing</div>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email" formControlName="email">
          <div *ngIf="email && email.touched &&email.invalid " class="text-danger">The email field is invalid</div>
    </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [type]="show ? 'text' : 'password'"  class="form-control" placeholder="Enter password" formControlName="password">
          <input type="checkbox" (click)="changePasswordType()" class="mt-3"/>&nbsp;Show Password
          <div *ngIf="password && password.touched &&password.invalid " class="text-danger">The password field is missing</div>
        </div>
        <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="registerationForm.invalid">Register</button>
        </div>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        <div class="text-right mt-4" style="margin-left:58%;">
        <p class="text-primary">Already an User? <a routerLink="/login" >Log in</a></p>
       </div>
      </form>
    </div>
  </div>
  