<div class="mt-3">
    <button  class="btn btn-primary"  (click)="back()" style="position:absolute;top:90px;left:20px">Back</button>
  </div>
<div class="text-center mt-2">
	<button (click)="generatePdf()" class="btn btn-success">Generate CV</button>
</div>

<div #pdfContent>
<div class="container">
  <div class="row">
    <div class="left col-6" style="border-right: 6px solid green; height: 100%;">
      <img [src]="image" alt="Profile Photo">
      <div class="section my-5"  *ngIf="selectedCategories.includes('header')">
        <h2 class="section-header">Contact Details</h2>
        <p>Phone: {{header?.phoneNumber}} </p> 
        <p> Email: {{header?.email}}</p>
        <hr>
      </div>
      <div class="section my-5"  *ngIf="selectedCategories.includes('skills')">
        <h2 class="section-header">Skills</h2>
        <ul>
            <ng-container *ngFor="let singleSkill of skillArray">
               <li ><b>{{singleSkill.skill}}</b>- {{singleSkill.level}}</li>
           </ng-container>
           </ul>
      </div>
    </div>
    <div class="right mx-3 col-6" *ngIf="selectedCategories.includes('header')" style="height:100%">
      <h1>{{header?.firstName}} &nbsp;{{header?.lastName}}</h1>
      <ul class="my-2">
        <li><strong>{{header?.jobTitle}}</strong></li>
      </ul>
      <hr>
      <div class="section" *ngIf="selectedCategories.includes('profile')">
        <h2 class="section-header">Profile</h2>
        <p class="details">{{profile}}</p>
      </div>
      <hr>
      <div class="section" *ngIf="selectedCategories.includes('education')">
        <h2 class="section-header">Education</h2>
        <div class="education">
            <ul>
                <ng-container *ngFor="let singleEducation of education">
                   <li>
                       <div class="section-content">
                           <h4><b>{{singleEducation.degree}}</b></h4>
                           <h5>{{singleEducation.school}}.{{singleEducation.city}},{{singleEducation.state}}</h5>			
                           <h6>{{singleEducation.startDate}} - {{singleEducation.endDate}}</h6>
                           <p>{{singleEducation.description}}</p>
                       </div>
                   </li>
               </ng-container>
               </ul>
        </div>
      </div>
      <hr>
      <div class="section" *ngIf="selectedCategories.includes('work')">
        <h2 class="section-header">Work Experience</h2>
        <div class="experience">
          <ul>
            <ng-container *ngFor="let singleWork of work">
                <li>
                    <div class="section-content">
                        <h5><b>{{singleWork.role}}</b></h5>
                        <h5>{{singleWork.place}}.{{singleWork.city}},{{singleWork.state}}</h5>
                        <h6>{{singleWork.startDate}} - {{singleWork.endDate}}</h6>
                        <p>{{singleWork.description}}</p>
                    </div>
                </li>
            </ng-container>
        </ul>
        </div>
      </div>

      <section *ngIf="selectedCategories.includes('additionSection')">
				<ul>
					<ng-container *ngFor="let singleSection of additionSection">
						<li>
							<div class="section-content">
								<h3><b>{{singleSection.sectionHeader}}</b></h3>
								<p>{{singleSection.sectionDescription}}</p>
							</div>
						</li>
					</ng-container>
				</ul>
			</section>
      <hr>
    </div>
  </div>
</div>
</div>
